@import "tailwindcss";

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #0f172a;
  /* Slate-900 */

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* Response Auto-Scaling */
@media (max-width: 1440px) {
  :root {
    font-size: 90%;
    /* Scales UI to ~14.4px base */
  }
}

@media (max-width: 1024px) {
  :root {
    font-size: 85%;
    /* Scales UI to ~13.6px base for smaller screens */
  }
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
}